
{% extends 'layout.html' %}
{% load static %}
{% block page_title %}Applications{% endblock %}
{% block header %}
<script>
  function revoke(app_id)
  {
  	var $form = $("#revokeform");
  	$form.find("input[name='app_id']").val(app_id);
      $form.submit();
  }
</script>
{% endblock header %}
{% block body %}
<div class="bid box">
    <h2>Authenticated Applications</h2>
    {% if apps %}
        <p>
            You have granted the following applications access to your KDE Identity; in other
            words, you used your KDE Identity to log in there. Click on the cross to remove
            all authentication tokens for those apps, effectively logging you out there.
        </p>
    {% else %}
        <p>
            You have not granted any applications access to your KDE Identity; in other words,
            you have not used your KDE Identity to log in anywhere yet. When you do, this is
            the place where you will be able to revoke that access from those applications.
        </p>
    {% endif %}
    <form id="revokeform" method="post" action="">
        {% csrf_token %}
        {{ form.app_id }}
        {{ form.errors }}
    </form>
    <ul class="bid-tokens">
      {% for app in apps %}
      <li>
        <div class="app-info">
          {{ app }}
          {% if app.url %}<a class="app-url" href="{{ app.url }}" target="_blank">{{ app.url }}</a>{% endif %}
        </div>
        <a class="app-revoke" title="Remove {{ app }} authentication token" href="javascript:revoke({{ app.id }})">Revoke Access</a>
      </li>
      {% endfor %}
    </ul>
    <!-- <h2>Notes</h2>
    <p>
      Revoking the access token may not log you out immediately. For example, for
      performance reasons Blender Cloud only checks with KDE Identity periodically.
    </p>
    <p>
      At this moment, this revocation can only be done in a rather coarse, per-application way.
      Since we currently don't store any metadata (like the name of the computer you used to log
      in or the name/version of the browser), you wouldn't be able to distinguish between
      individual authentication tokens.
    </p> -->
  </div>
{% endblock %}
