
{% extends 'layout.html' %}
{% load i18n %}
{% block page_title %}Your Password -- KDE Identity{% endblock %}
{% block body %}
<div class="bid box">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="bid-header"></div>
      <h1>Because change is good</h1>
      <hr/>
      <form action="" method="POST">
        {% csrf_token %}
        {% if form.errors %}
        <p class="errornote"> {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}</p>{% endif %}
        <p>{% trans "Enter your old password, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
        <fieldset>
          <!-- Old Password-->
          <label class="control-label">{{ form.old_password.label_tag }}</label>{{ form.old_password }}
          {{ form.old_password.errors }}
          <!-- New Password-->
          <label class="control-label">{{ form.new_password1.label_tag }}</label>{{ form.new_password1 }}
          {% if form.new_password1.help_text %}
          <div class="input-help">{{ form.new_password1.help_text|safe }}</div>{% endif %}
          {{ form.new_password1.errors }}
          <!-- Confirm New Password-->
          <label class="control-label">{{ form.new_password2.label_tag }}</label>{{ form.new_password2 }}
          {% if form.new_password2.help_text %}
          <div class="input-help">{{ form.new_password2.help_text|safe }}</div>{% endif %}
          {{ form.new_password2.errors }}
          <hr/>
          <div class="bid-cta">
            <button class="btn btn-success" type="submit">Change Password</button><a class="btn btn-link" href="{% url 'bid_main:index' %}">Cancel</a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>{% endblock %}
