{% extends 'layout.html' %}
{% load i18n %}
{% block page_title %}Reset Your Password -- KDE Identity{% endblock %}
{% block body %}
  <div class="row">
    <div class="col-10 col-md-8 offset-1 offset-md-2">
      <div class="card">
        <h1 class="card-header mt-0 h3">{% trans "Password Reset" %}</h1>
        <div class="card-body">
          <form action="" method="POST">{% csrf_token %}
            <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
            <fieldset>
              <div class="row">
                <div class="col-md-12">
                  <!-- Email-->
                  {{ form.email }}
                  {{ form.email.errors }}
                  <div class="mt-3">
                    <button class="btn btn-success" type="submit">{% trans "Reset My Password" %}</button>
                    <a class="btn btn-outline-secondary" role="button"
                       href="{% url 'bid_main:index' %}">{% trans "Cancel" %}</a>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}