
{% extends "admin/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block extrastyle %}
<style>
  #site-name img {
  	height: 1.7em;
  	width: auto;
  	margin-right: 1em;
  	margin-top: -0.5em;
  	margin-bottom: -0.2em;
  }
  
  .module h2, .module caption, .inline-group h2 {
  	background-color: #005385;
  }
</style>{% endblock %}
{% block extrahead %}
    {{ block.super }}
    <link href="{% static 'django_admin_select2/css/select2.min.css' %}" rel="stylesheet" />
{% endblock %}
{% block nav-global %}{% endblock %}
{% block userlinks %}
{% if site_url %}<a href="{{ site_url }}">{% trans 'View site' %}</a> / {% endif %}
{% if user.is_active and user.is_staff %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /     {% endif %}
{% endif %}
{% if user.has_usable_password %}<a href="{% url 'bid_main:password_change' %}">{% trans 'Change password' %}</a> / {% endif %}<a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block footer %}
    {{ block.super }}
    {% if not media %}
        <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    {% endif %}
    <script>window.jQuery = window.$ = django.jQuery;</script>
    <script src="{% static 'django_admin_select2/js/select2.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            {# timeout required because filtered is added after load #}
            setTimeout(function() {
                $('select:not(.filtered):not(.admin-autocomplete)').select2();
            }, 0);
        });
    </script>
{% endblock %}