<header id="KGlobalHeader" class="header clearfix">
  <nav class="navbar navbar-expand">
    <a aria-label="KDE Homepage" class="kde-logo navbar-brand active" href="/">KDE Accounts</a>
    {% if request.user.is_authenticated %}
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ settings.LOGOUT_URL }}">Log out</a>
          </li>
        </ul>
      </div>
    {% endif %}
  </nav>
</header>
