{% comment %}
SPDX-FileCopyright: (C) 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-LicenseRef: GPl-3.0-or-later
{% endcomment %}
{% load static %}
{% load flatpages %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}Home{% endblock %} - KDE Accounts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="KDE Accounts is a unified login system for all services around KDE.">
    <meta name="author" content="Blender Foundation, KDE">
    <link type="text/x-scss" href="/static/assets/css/base.css" rel="stylesheet">
    <link href="https://cdn.kde.org/aether-devel/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.kde.org/aether-devel/aether-kde-org.css" rel="stylesheet">
    <script src="https://cdn.kde.org/aether-devel/bootstrap.js" defer=""></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block modal %}
    {% endblock %}

    {% block navigation_header %}
      {% include "_navbar.html" %}
    {% endblock navigation_header %}

    {% block header %} {% endblock %}
    <main class="container">
      <div class="alert alert-danger container">
        This is a test instance. Please don't use it and use <a href="https://identity.kde.org">KDE Identity</a> instead.
        Interested in the development of this application, join us in #kde-www or <a href="https://community.kde.org/Telegram#Development">Telegram</a>.
      </div>

      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          <div class="container">
            {{ message }}
            <button class="close" type="button" data-dismiss="alert">Close</button>
          </div>
        </div>
      {% endfor %}

      {% if user and user.must_pp_agree %}
        {% block privacy_policy_banner %}
        <article class="privacy-policy-must-agree alert alert-warning">
          <h1>Our Privacy Policy Changed</h1>
          <p>
            In order to continue using KDE Accounts, please accept <a href="{% url 'bid_main:privacy_policy_agree' %}">
            our new privacy policy</a>.
          </p>
        </article>
        {% endblock %}
      {% endif %}

      {% block body %}{% endblock %}
    </main>
    {% block footer_scripts %}{% endblock footer_scripts %}

    {% block footer %}
      {% include "_footer.html" %}
    {% endblock footer %}
    {% block js %}
    {% endblock %}
  </body>
</html>
